<div id="wrap">
  <form action="" autocomplete="on">
  <input id="search" [(ngModel)]="search" type="text" placeholder="Search for API's" name = "search" ><input id="search_submit" value="Rechercher" type="submit">
  </form>
</div>

<div class="container">
  <div class="row">
    <div class="span5">
      <table class="table table-striped table-condensed">
        <thead>
          <th>API</th>
          <th>Description</th>
          <th>Category</th>
          <th>Link</th>
          <th>Cors</th>
        </thead>
        <tbody>
          <tr *ngFor="let entry of (apiList$ | async)?.entries | filter: search | paginate: { itemsPerPage: 20, currentPage: p }; let i = index">
            <td>{{entry.API}}</td>
            <td>{{entry.Description}}</td>
            <td>{{entry.Category}}</td>
            <td>
              <button class="btn btn-light" (click)="goto(entry.Link)">
                <img src="assets/images/RQ.svg" />
              </button>
              <a [href]="entry.Link" target="_blank">{{entry.Link}}</a>
            </td>
            <div *ngIf="entry.Cors == 'yes'; else elseIfBlock">
              <td><span class="badge badge-success">{{entry.Cors}}</span></td>
            </div>
            <ng-template #elseIfBlock>
              <div *ngIf="entry.Cors == 'no'; else elseBlock">
                <td><span class="badge badge-danger">{{entry.Cors}}</span></td>
              </div>
            <ng-template #elseBlock>
              <td><span class="badge badge-warning">{{entry.Cors}}</span></td>
              </ng-template>
            </ng-template>
          </tr>
        </tbody>  
      </table>
      <pagination-controls class="d-flex justify-content-center" (pageChange)="p = $event"></pagination-controls>
    </div>
  </div>
</div> 