<div class='input-group mb-3' id='bar'>
    <div class="input-group-prepend">
        <span class="input-group-text">URL</span>
    </div>
    <input class='form-control' (keyup)="textboxUpdated($event)" [value]="textboxValue" #theInput/>
    <div class="input-group-append">
        <button class='btn btn-outline-primary' (click)="resend()">Resend Request</button>
    </div>
</div>
<div *ngIf="!(result$ | async) && theInput.value">Loading...</div>
<div class="alert alert-danger" *ngIf="(result$ | async)?.isError && (result$ | async)?.response?.status === 0">
    Response is likely missing CORS headers. Try opening in a
    <a [href]="theInput.value" target="_blank">new tab</a>.
</div>
<pre class="bg-light rounded" [class.error]="(result$ | async)?.isError" *ngIf="result$ | async">{{ (result$ | async)?.response | json }}</pre>

<ng-template ngFor let-url [ngForOf]="(result$ | async)?.response | findImageUrls">
    <img [src]="url" />
</ng-template>

<div class="footer">
    <strong>Built By</strong> Crystal Conroy, David Heck, Jeremy Gouveia, Juan Villacis, Vineeth Gutta, Zack Klodnicki
</div>