<input id='InputText' (keyup)="updated($event)" #theInput/>
<button id='ResendButton' (click)="resend()">Resend Request</button>
<div id='LoadingText' *ngIf="!(result$ | async) && theInput.value">Loading...</div>
<div id='CORSWarningText' *ngIf="(result$ | async)?.isError && (result$ | async)?.response?.status === 0">Response is likely missing CORS headers.</div>
<pre id='ResponseText' [class.error]="(result$ | async)?.isError" *ngIf="result$ | async">{{ (result$ | async)?.response | json }}</pre>