nav a {
    margin: auto;
    color: var(--gray);
    border-radius: 10px;
    transition: background-color 0.5s ease-out;
}

nav a.active {
    background-color: rgba(0,0,0, 0.05);
}

nav a:hover {
    color: var(--gray-dark);
}

nav a:active {
    color: var(--dark);
}
